<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div style="width: 100%; height: 100% background-color: white; color: #0F172A; font-family: Arial, Helvetica, sans-serif;">
    <div style="margin: 8rem auto; width: 80%; max-width: 400px">
      <h1 style="color: #0F172A;">Hi <%= @user.first_name %>,</h1>
      <p style="color: #0F172A; font-size: 1rem; line-height: 1.5rem;">
        You&apos;ve successfully <strong>changed your password</strong> on Powerbase at <%= @date %>.
      </p>
      <p style="color: #0F172A; font-size: 1rem; line-height: 1.5rem;">
        If you didn&apos;t request this, we advice you to change your password in your email account (Gmail, Outlook, iCloud, etc.) <strong>as soon as possible</strong>, and <a href="<%= @action_url %>" style="color: #4338CA">request a new password</a> on Powerbase.
      </p>
      <p style="color: #0F172A; font-size: 1rem; line-height: 1.5rem;">
        For questions you may have, feel free to <a href="mailto:<%= @support_email %>" style="color: #4338CA">email us</a>.
      </p>
      <p style="color: #0F172A; font-size: 1rem; line-height: 1.5rem;">
        Thank you,
        <br />
        Powerbase Team
      </p>

      <hr />

      <p style="color: #0F172A; font-size: 1rem; line-height: 1.5rem;">
        If you&apos;re having trouble with the request new password link above, copy and paste the URL below into your web browser.
      </p>
      <p style="color: #0F172A; font-size: 1rem; line-height: 1.5rem;">
        <%= @action_url %>
      </p>
    </div>
  </div>
</body>
</html>
